
   

    

{% extends 'base.html' %}

{% load static %}

{% block title %}
      <title>Carrito</title>
      <link type="text/css" rel="stylesheet" href="assets/css/carrito.css">
      <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">  
{% endblock %}


{% block content %}
    <h1>Productos</h1>
    <div id="productos">
        <div class="producto" data-nombre="Producto 1" data-precio="10" data-stock="10">
            <button class="agregar">Agregar al carrito</button>
            <a class="btn btn-warning" href="{% url 'zapatillas' %}">Atrás</a> 
        </div>
    </div>
    <h1>Carrito de Compras</h1>
    <ul id="carrito">
    </ul>
        
    {% block script %}

    <script type="module" src="{% static 'assets/js/zapatillas.js' %}"></script>
    <script src="{% static 'assets/js/carrito.js' %}"></script>

    {% endblock %}

      
        
{% endblock %}