{% extends 'base.html' %}

{% load static %}

{% block title %}
      <title>Principal</title>
      <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">  
      <link rel="stylesheet" href="{% static 'assets/css/styleMenu.css' %}"> 
  
{% endblock %}


{% block content %}
        <!-- carrusel-->    
        <section class="p-0 border-0 bd-example border-0">
            <div id="carouselExampleCaptions" class="carousel slide" >
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="{% url 'tienda' %}">
                    <img src="{% static 'assets/img/adidasCAR.jpg' %}" class="d-block w-100" alt="adidas">
                    </a>
                    <div class="carousel-caption ">
                      <h5>Adidas</h5>
                      <p>"Impossible is nothing"</p>
                    </div>
                  </div>
                  <div class="carousel-item"> 
                    <a href="{% url 'tienda' %}">
                    <img src="{% static 'assets/img/nikeCAR.jpg' %}" class="d-block w-100" alt="nike">
                    </a>
                    <div class="carousel-caption">
                      <h5>Nike</h5>
                      <p>"Just do it"</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="{% url 'tienda' %}">
                    <img src="{% static 'assets/img/pumaCAR.jpg' %}" class="d-block w-100" alt="puma">
                    </a>
                    <div class="carousel-caption ">
                      <h5>Puma</h5>
                      <p>"Forever Faster"</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </button>
        </section>
            <!--comprar ahora-->   
        <!--Api-->
         <hr>
        <h1>Dale un vistazo a nuestros productos</h1>
        <hr>
        <div class="container">
          <div class="row" id="zapatillaRow">
          </div>
        </div>
        <!-- fin Api-->
        <hr>
        <div class="row mt-2">
          <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-2 mx-auto" >
              <div class="card mx-auto" style="width: 18rem;">
                  <img src="{% static 'assets/img/adidas_d9.jpg' %}" class="tamannio_imagen_1" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="{% url 'tienda' %}" class="btn btn-primary">COMPRAR AHORA</a>
                  </div>
                </div>
          </div>
          
          <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-2 mx-auto" >
              <div class="card mx-auto" style="width: 18rem;">
                  <img src="{% static 'assets/img/nike_dunkhr.jpg' %}" class="tamannio_imagen_1" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="{% url 'tienda' %}" class="btn btn-primary">COMPRAR AHORA</a>
                  </div>
                </div>
          </div>

          <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-2 mx-auto" >
              <div class="card mx-auto" style="width: 18rem;">
                  <img src="{% static 'assets/img/nike_af1lr.jpg' %}" class="tamannio_imagen_1" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="{% url 'tienda' %}" class="btn btn-primary">COMPRAR AHORA</a>
                  </div>
                </div>
          </div>   
        </div>  
        <!-- fin de comprar ahora-->  
        <!-- fin del carrusel-->  

        
        <hr>
        <h1>  ESTAMOS UBICADOS EN </h1>
        </div>
        <div id="map">
        </div>    

        
        {% block script %}
        <script src="{% static 'assets/js/index.js' %}"></script>
        <script type="module" src="{% static 'assets/js/zapatillas.js' %}"></script>
          <!--si lo dejo aqui no me da error-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
        {% endblock %}

      
        
{% endblock %}